# Môi trường ảo
.env/
.venv/
env/
ENV/

# File biên dịch, bytecode, cache, pla pla
__pycache__/
*.py[cod]
*$py.class

# Các file build, phân phối (chat gpt)
build/
dist/
*.egg-info/

# VS Code PyCharm
.vscode/
.idea/

# Bỏ qua file config.properties trong thư mục Resources
Resources/config.properties

# Bỏ qua promt github copilot (riêng tư của t, trước khi nộp thì t sẽ xóa dòng này)
.github/prompts